<p>new-project works!</p>
<div class="col-md-4">
  <div class="bg-info p-3 rounded justify-content-center">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Project Title.."
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Project Description.."
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="file"
          class="form-control"
          formControlName="image"
          (change)="uploadFile($event)"
          accept="image/*"
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="url"
          placeholder="Project URL.."
        />
      </div>

      <button type="submit" class="btn btn-success btn-sm">Submit</button>
    </form>
  </div>
</div>
